header {
  display: flex;
  padding: 5%;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(194, 241, 210);
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}



