header {
  display: flex;
  padding: 5%;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(194, 241, 210);
}

header button {
  padding: 10px 20px;
  width: 80px;
  height: 50px;
  border-radius: 8px;
  font-size: 15px;
  color: black;
  border: 0.5px solid black;
  cursor: pointer;
}
@media (max-width: 500px) {
  header button {
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 20px;
  }
}
