@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(194, 241, 210);
  display: flex;
  justify-content: center;
  align-items:center;
  overflow-x:hidden;
}

.content {
  width: 100vw;
  min-height: 100vh;
  max-width: 500px;
  padding: 20px;
  border-radius: 15px;
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  align-content:start;

}


