
.tresraya-button {
  width: 100%;
  aspect-ratio: 1; 
  /*height: 200px;*/
  background-color: #ebe2e2;
  border: 3px solid black;
  border-radius: 10px;
  margin: 0;
  border: 3px solid black;
  cursor: pointer;
  font-size: 5vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 4px;
  width: 100%;
  max-width: 90vmin;
  aspect-ratio: 1;
  margin: 10px auto;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .tresraya-button {
    font-size: 6vw;
    border-width: 2px;
  }
  .content {
    gap: 3px;
    padding: 3px;

  }
}
@media (max-width: 350px) {
  .tresraya-button {
    font-size: 14px;
    border-width: 1px;
  }
  
  .content {
    width: 250px;
    height: 250px;
    gap: 3px;
    padding: 8px;
  }
}
