.content {
  width: 100vw;
  height: 100vh;
}

.carrito {
  width: 100px;
  position: absolute;
  z-index: 999999999;
  right: 40px;
  bottom: 30px;
}
.pumpkin {
  width: 80px;
  cursor: pointer;
  position: absolute;
  transition: all 0.5s;
}
.contador {
  position: absolute;
  right: 140px;
  bottom: 80px;
  color: black;
  font-size: 25px;
  font-weight: bold;
  z-index: 999999999;
}

.crushButton{
  top: 100px;
  width: auto;
  border-radius: 8px;
  background-color: #b5c9b0;
  color: black;
  border: 0.5px solid black;
  cursor: pointer;
  display: none;
  padding:10px;
}

.show {
  display: block;
  position: absolute;
  font-size: 40px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
@media (max-width: 768px) {
  .show {
    top: 100px;
    right: 0px;
  }

  .crushButton {
    top: 300px;
    font-size: small;
    height: 50px;
    width: 80px;
    left: 50%;
    transform: translateX(-50%);
  }
}
